/UCLNvsBCNN/nbproject/private/
/UCLNvsBCNN/build/
/UCLNvsBCNN/dist/
/Product/nbproject/private/
/Product/dist/
/Product/build/
/PRACTICE/product/nbproject/private/
/PRACTICE/product/build/
/PRACTICE/product/dist/
